*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: red;
}

header h1{
    text-align: center;
    background-color: black;
    color: blanchedalmond;
    transition: transform 2s;
    
}

header h1:hover{
    transform: rotateZ(360deg) scale(1.2);
}

ul{
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
    justify-content: center;
}



li{
    width: 550px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: transform 1s;
}

li:hover{
    transform: scale(1.3)  rotatex(360deg);
}




img{
    margin-left: auto;
    display: block;
    margin-right: auto;
}

main h2{
     text-align: center;
     background-color: white;
     color: black;
}

main p{
    text-align: center;
    background-color: blanchedalmond;
    color: brown;
    
}

main p:hover{
    background-color: red;
    color: blue;
}

.ph{
    text-align: center;
    background-color: coral;
    color: cornflowerblue;
    font-size: 40px;
}