*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@keyframes changecolor {
    from {background-color: chartreuse;}
    to {background-color: blue;}

}

@keyframes changecolor2 {
  0%{background-color: red;}
  25%{background-color: yellow;}
  50%{background-color: blue;}
  100%{background-color: green;}
}

@keyframes move {
    0%{transform: translate(150px, 200px);}
    25%{transform: translate(200px, 200px);   background-color: hotpink;}
    50%{transform: translate(0, 0);   background-color: red;}
    25%{transform: translate(150px, 200px);}
}



body{
    background-color: aqua;
}

.box{
    width: 100px;
    height: 100px;
    background-color: black;
    animation: move 10s linear  infinite; 
}

