*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: gray;
    color: white;
}

h1{
    background-color: brown;
    font-family: 'Zen Tokyo Zoo', cursive;
    font-size: 45px;
    text-align: center;
    text-decoration: underline;
    text-shadow:-5px -5px 10px blue ;
}

span{
    color: red;
}